body {
  color: #fff;
  margin: 0;
  font-family: 'Raleway', sans-serif;

}



.isa-photo {
  width: 50%;
  position: absolute;
  top: 30px;
  left: 250px;


}

#title{
  width:100%
}

#Name{
  position: absolute;
  left: 550px;
  top: 75px;
  width: 150%;






}



#contacts{
  position: absolute;
  top: 250px;
  width: 90%;
  margin-top: 30px;
  left: 150px;
  font-size: 15px;


}

.container{
  padding: 0;
}


.h2-vertical{
  font-weight: 400;
  color: black;
  position: absolute;
  left: 20px;
  width: 300px;
  font-size: 25px;
  padding-top: 15px;






}

.LS{
  position: absolute;

  left: 280px;
  border-left: 1px solid gray;
            height: 270px;
            position:absolute;
            top: 1097px;


}
.hr{

    color: #928e8e;

    border: none;

}

.h2-blue-name{
  font-weight: 300;
  color: #66BFBF;
  font-size: 25px;
}

.h2-blue{

  font-weight: 300;
  color: #66BFBF;
  font-size: 15px;
  font-weight: bold;
}
.h2-black{

  font-weight: 300;
  color: black;
  font-size: 25px;
}
.h2-work{
  font-weight: 400;
  color: black;
  font-size: 25px;
}

.h4-blue{
  color:#11999E;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}

.h2-work-middle{
  font-weight: 400;
  color: black;
  margin-bottom: 35px;
  margin-top: 35px;
  font-size: 25px;
}

.h4-ls{
  color:#11999E;
  margin-bottom: 1px;
  margin-left: 20px;
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
}

.h4-black{
  font-weight: bold;
  color: black;
  margin-top: 5px;
  font-size: 18px;
}

.h4-blue-mid{
  color:#11999E;
  margin-bottom: 2px;
  font-size: 20px;
  font-weight: bold;
}

.h2-work-mid{
  font-weight: 400;
  color: black;
  margin-bottom: 40px;
}

.h4-blue-middle{
  color:#11999E;
  margin-bottom: 2px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
.description-mid{
  margin-top: 2px;
  margin-bottom: 5px;
  color: #8f8f8f;

}
.pbold{
  font-weight: bold;
  color: black;
  position: relative;
  left: 20px;
  width: 300px;
  margin-top: 0;
  margin-bottom: 20px;

}

.description{

  color: #8f8f8f;
}
.info {

  color: #8f8f8f;
  margin-bottom: 50px;

}
